<h1>Recuperar contraseña</h1>

<form action="/api/auth/forgetPassword" method="POST">
  <label for="email">Email</label>
  <input type="email" name="email" id="email" required>

  <button type="submit">Enviar solicitud</button>
</form>