<h1>Recuperar contraseña</h1>
<form id="{{!-- resetPasswordForm --}}" onsubmit="return validatePassword()" action="/api/auth/resetPassword/{{email}}" method="POST">
  <input type="password" id="newPassword" name="newPassword" placeholder="Nueva contraseña" required>
  <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Repite la contraseña" required>


  <button type="submit">Actualizar</button>
</form>

<script>
function validatePassword() {
  var newPassword = document.getElementById("newPassword").value;
  var confirmPassword = document.getElementById("confirmPassword").value;

  if (newPassword !== confirmPassword) {
    alert("Las contraseñas no coinciden. Por favor, inténtalo de nuevo.");
    return false;
  }

  return true;
}
</script>